<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
    <head>
        <title>hirsApp</title>
        <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}" href="/static/css/main.css"/>
        <link rel="icon" type="image/png" th:href="@{/img/favicon.ico}" href="/static/img/favicon.ico"/>
        <script type="text/javascript" async="async" th:src="@{/js/main.js}"></script>
    </head>
    <body>
        <div id="react-container"></div>
    </body>
</html>