html, body {
    height: 100%;
}
body {
    font-family: 'open_sansregular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #ffffff;
    display: table;
    width: 100%;
    margin-top: -60px;
}
.login-block {
    margin: 0 auto;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}
.login-block img {
    margin: 0 auto 30px auto;
    display: block;
}
img {
    vertical-align: middle;
    border: 0;
}
#login-form {
    width: 502px;
    display: block;
    margin: 35px auto;
    padding: 0 20px;
    border: 1px solid #dae2eb;
    box-sizing: content-box;
    overflow: hidden;
}
.login-form-heading {
    font-family: 'open_sanssemibold', Arial, Helvetica, sans-serif;
    background-color: #eaf0f6;
    padding: 20px;
    border-bottom: 1px solid #dae2eb;
    margin: 0 -20px 35px -20px;
    color: #365f99;
    font-size: 24px;
    text-align: center;
}
.login-block fieldset {
    border: 0px;
    margin-bottom: 15px;
}
.login-block fieldset {
    border: 0px;
    margin-bottom: 15px;
}
.login-block fieldset input[type="text"], .login-block fieldset input[type="password"] {
    display: block;
    float: left;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    vertical-align: middle;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    color: #333;
    box-sizing: content-box;
}
.login-block__validation-error.error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #dca7a7;
    margin-bottom: 10px;
}
.login-block__validation-message.message {
    color: #b94a48;
    background-color: #e0e200;
    border-color: #e0e200;
    margin-bottom: 10px;

}
.remember{
    margin-left: 15px;
}
.login-block fieldset label {
    width: 160px;
    text-align-last: right;
    padding-top: 6px;
    float: left;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 0px;
    display: block;
}
.login-block fieldset input[type="text"], .login-block fieldset input[type="password"] {
    display: block;
    float: left;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    vertical-align: middle;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    color: #333;
    box-sizing: content-box;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
.btn {
    text-align: center;
}
.btn-reduced {
    font-size: 14px;
    padding: 4px 10px;
}
.login-block__register {
    background-color: #eaf0f6;
    clear: both;
    text-align: center;
    padding: 5px 0;
    margin: 30px -20px 0 -20px;
}
